<%- include('./header.ejs');%>

<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="page-header-title">Address Book</h1>
      </div>
      <!-- End Col -->
      <!-- <div class="col-auto">
        <a
          class="btn btn-sm btn-success ms-2"
          href="javascript:void(0)"
          onclick="addReview()"
        >
          <i class="bi-plus-circle me-1"></i>
          Add Reviews
        </a>
      </div> -->
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Page Header -->

  <div class="enquiry-table-filters">
    <div class="row g-3">
      <div class="col-12 col-md-3">
        <div class="input-group input-group-sm">
          <div class="input-group-text">
            <i class="bi-search"></i>
          </div>
          <input
            type="search"
            class="form-control enquiry-table-search"
            placeholder="Search here"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 offset-md-3">
        <div class="d-flex align-items-center gap-2">
          <span class="ms-md-auto">Type</span>
          <div>
            <select
              class="form-select form-select-sm"
              onchange="sowingListTable.column(2).search(this.value).draw()"
            >
              <option value="" selected>All</option>
              <option value="cat">Catagory</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table
      id="enquiry-table"
      class="table table-bordered table-nowrap table-align-middle"
    >
      <thead class="thead-light" align="left">
        <tr>
          <th>Name</th>

          <th>Address</th>
          <th>State</th>
          <th>District</th>
          <th>Taluka</th>
          <th>Town</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <%users.forEach((item)=>{%>
        <tr class="menu-row">
          <td>
            <h5 class="text-danger">
              <%= item.firstname%> <%= item.middlename%> <%= item.lastname%>
            </h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.address%></h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.state%></h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.district%></h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.taluka%></h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.town%></h5>
          </td>
          <td>
            <h5 class="text-danger"><%= item.phone%></h5>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </div>

  <div class="enquiry-table-footer"></div>
</div>
<!-- End Content -->

<%- include('./footer.ejs');%>

<script>
  let customerListTable = false;
  customerListTable = $("#enquiry-table").DataTable({
    lengthChange: true,
    columnDefs: [
      {
        targets: [0],
        orderable: false,
      },
    ],
    order: [
      [1, "desc"],
      [0, "desc"],
    ],
    initComplete: function (settings, json) {
      $(".dataTables_filter").hide();
      $(".enquiry-table-footer")
        .append($("#enquiry-table_wrapper .row:last-child()"))
        .find(".previous")
        .addClass("ms-md-auto");
      $(".dataTables_info").before(
        $(".dataTables_length")
          .find("label")
          .attr("class", "d-inline-flex text-nowrap align-items-center gap-2")
      );
      $(".enquiry-table-search").on("input", function () {
        customerListTable.search(this.value).draw();
      });
      this.api()
        .table()
        .buttons()
        .container()
        .find(".btn-secondary")
        .removeClass("btn-secondary");
      this.api()
        .table()
        .buttons()
        .container()
        .appendTo($(".enquiry-table-filters .export-buttons"));
    },
    buttons: [
      {
        extend: "collection",
        text: '<i class="bi bi-cloud-download-fill"></i>',
        className: "btn-sm btn-outline-primary",
        buttons: [
          {
            extend: "copy",
            text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy',
          },
          {
            extend: "excel",
            text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel',
          },
          {
            extend: "csv",
            text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV',
          },
          {
            extend: "pdf",
            text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF',
          },
          {
            extend: "print",
            text: '<i class="bi-printer dropdown-item-icon"></i> Print',
          },
        ],
      },
    ],
  });
</script>
