<%- include('./header.ejs');%>

	<div class="content container-fluid">
		<ul class="nav nav-pills mb-4" id="acount-voucher-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger active" id="batch-assign-tab" data-bs-toggle="tab"
					data-bs-target="#batch-assign-content" type="button" role="tab" aria-controls="batch-assign-content"
					aria-selected="false">About page</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger " id="sowing-tab" data-bs-toggle="tab"
					data-bs-target="#sowing" type="button" role="tab" aria-controls="sowing"
					aria-selected="true">Success stories</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="btn btn-sm btn-outline-danger" id="bef-germination-tab" data-bs-toggle="tab"
					data-bs-target="#bef-germination" type="button" role="tab" aria-controls="bef-germination"
					aria-selected="false">Success videos</button>
			</li>
			


		</ul>
		<!-- Page Header -->

		<div class="tab-content">
			<div class="tab-pane active" id="batch-assign-content" role="tabpanel" aria-labelledby="batch-assign-tab">

				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								About content management</h1>
						</div>
						<!-- End Col -->
						<div class="col-auto">
							<%if(!hasAboutRecords){%>
							<a class="btn btn-sm btn-dark" href="javascript:void(0)" onclick="addAboutCms()">
								<i class="bi-plus-circle me-1"></i>
								Add Content
							</a>
							<%}%>
							<a class="btn btn-sm btn-success ms-2" href="javascript:void(0)" onclick="addMember()">
								<i class="bi-plus-circle me-1"></i>
								Add Members
							</a>
						</div>
								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->
				<div class="row">
					<% aboutRecords.forEach((item)=>{%>
					<div class="col-md-2 col-sm-2 col-12">
						<button class="btn btn-dark text-center p-2"
												onclick="editAboutForm('<%-item.id%>')">
												<i class="bi-pencil-square mx-1"></i>Edit
											</button>
					</div>
					<div class="col-md-10 col-sm-10 col-12">
						<div class="row gy-3">
							<div class="col-md-12 col-sm-6 col-12">
								<div class="card">
									<div class="card-header bg-light">
										<h5 class="text-dark fw-semibold">About website(पोर्टलबद्दल माहिती )</h5>
									</div>
									<div class="card-body">	<%- item.aboutwebsite%></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-header bg-light">
										<h5 class="text-dark fw-semibold">President speech(अध्यक्षांचे मनोगत )</h5>
									</div>
									<div class="card-body"><%- item.adhykshmanogat%></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-header bg-light">
										<h5 class="text-dark fw-semibold">Sachiv speech(सचिवांचे मनोगत )</h5>
									</div>
									<div class="card-body"><%- item.sachivmanogat%></div>
								</div>
							</div>
						
						
						</div>
					</div>
					<%}) %>
				</div>
			
				<div class="content container-fluid">
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h1 class="page-header-title">
									Members
								</h1>
							</div>
							
							<!-- End Col -->
							
							<!-- End Col -->
						</div>
						<!-- End Row -->
					</div>
					<!-- End Page Header -->
			
					<div class="member-table-filters">
						<div class="row g-3">
							<div class="col-12 col-md-3">
								<div class="input-group input-group-sm">
									<div class="input-group-text">
										<i class="bi-search"></i>
									</div>
									<input type="search" class="form-control member-table-search" placeholder="Search here">
								</div>
							</div>
							<div class="col-12 col-md-6 offset-md-3">
								<div class="d-flex align-items-center gap-2">
									<span class="ms-md-auto">Type</span>
									<div>
										<select class="form-select form-select-sm"
											onchange="sowingListTable.column(2).search(this.value).draw()">
											<option value="" selected>All</option>
											<option value="cat">Catagory</option>
										</select>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<table id="member-table" class="table table-bordered table-nowrap table-align-middle">
							<thead class="thead-light" align="left">
								<tr>
								
									<th>Action</th>
									
									<th>
										member photo						
									</th>
									<th>
										member name
									</th>
									<th>
									   member position							
									</th>
									
								</tr>
							</thead>
							<tbody>
								<%members.forEach((item)=>{%>
									<tr class="menu-row">
										<td>
											
												<button class="btn btn-dark text-center p-2"
													onclick="editMembers('<%-item.id%>')">
													<i class="bi-pencil-square mx-1"></i>Edit
												</button>
												<button class="btn btn-danger text-center p-2"
													onclick="confirmDeleteMember('<%-item.id%>')">
													<i class="bi-trash mx-1"></i> Delete
												</button>
											
	
										</td>
										<td>
										     <img src="http://localhost:5000/<%= item.memberpic.replace(/\\/g, '/')%>" class="img-fluid" style="height: 170px; object-fit: cover;" width="170" alt="">
										</td>
										<td>
											<h5 class="text-dark">
												<%= item.membername%>
											</h5>
										</td>
										<td>
											<h5 class="text-danger">
												<%= item.position%>
											</h5>
										</td>
										
									
									</tr>
									<%})%>
							</tbody>
						</table>
					</div>
			
					<div class="member-table-footer"></div>
				</div>

				
			</div>
			<div class="tab-pane" id="sowing" role="tabpanel" aria-labelledby="sowing-tab">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								Success stories</h1>
						</div>
						<!-- End Col -->
						<div class="col-auto">
						
							<a class="btn btn-sm btn-success ms-2" href="javascript:void(0)" onclick="addSuccessStory()">
								<i class="bi-plus-circle me-1"></i>
								Add Success stories
							</a>
						</div>
								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->

				<div class="successstory-table-filters">
					<div class="row g-3 ">
						<div class="col-12 col-md-3">
							<div class="input-group input-group-sm">
								<div class="input-group-text">
									<i class="bi-search"></i>
								</div>
								<input type="search" class="form-control add-successstory-table-search"
									placeholder="Search here">
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive">
					<table id="successstory-table" class="table table-bordered  table-nowrap table-align-middle">
						<thead class="thead-light " align="left">
							<tr>
								<th>Action</th>
								<th>wedding photo</th>
								<th>bride name</th>
								<th>groom name</th>
								<th>city</th>
								<th>wedding Information</th>

							</tr>
						</thead>
					    <tbody>
							<%stories.forEach((item)=>{%>
								<tr class="menu-row">
									<td>
										
											<button class="btn btn-dark text-center p-2"
												onclick="editSuccessStory('<%-item.id%>')">
												<i class="bi-pencil-square mx-1"></i>Edit
											</button>
											<button class="btn btn-danger text-center p-2"
												onclick="confirmDeleteStory('<%-item.id%>')">
												<i class="bi-trash mx-1"></i> Delete
											</button>
										

									</td>
									<td>
										 <img src="http://localhost:5000/<%= item.weddingpic.replace(/\\/g, '/')%>" class="img-fluid" height="200" width="170" alt="">
									</td>
									<td>
										<h5 class="text-danger">
											<%= item.bridename%>
										</h5>
									</td>
									<td>
										<h5 class="text-danger">
											<%= item.groomname%>
										</h5>
									</td>
									<td>
										<h5 class="text-secondary">
											<%= item.city%>
										</h5>
									</td>
									<td class="w-75">
										<div class="card w-100">
											<div class="card-body">
												<p  style="white-space: pre-wrap;">
													<%= item.description %>
												</p>
											</div>
										</div>
									</td>
								
								</tr>
								<%})%>
						</tbody>
					</table>
				</div>
				<div class="successstory-table-footer"></div>
			</div>
			<div class="tab-pane" id="bef-germination" role="tabpanel" aria-labelledby="bef-germination-tab">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="page-header-title">
								Success Videos</h1>
						</div>
						<!-- End Col -->
						<div class="col-auto">
						
							<a class="btn btn-sm btn-success ms-2" href="javascript:void(0)" onclick="addSuccessVideo()">
								<i class="bi-plus-circle me-1"></i>
								Add Success Videos
							</a>
						</div>
								<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
				<!-- End Page Header -->

				<div class="successvideo-table-filters">
					<div class="row g-3 ">
						<div class="col-12 col-md-3">
							<div class="input-group input-group-sm">
								<div class="input-group-text">
									<i class="bi-search"></i>
								</div>
								<input type="search" class="form-control add-successvideo-table-search"
									placeholder="Search here">
							</div>
						</div>

					</div>
				</div>
				<div class="table-responsive">
					<table id="successvideo-table" class="table table-bordered  table-nowrap table-align-middle">
						<thead class="thead-light " align="left">
							<tr>
								<th>Action</th>
								<th>Youtube Url</th>
								<th>Year</th>
								<th class="w-50">description</th>
								

							</tr>
						</thead>
						<tbody>
							<%videos.forEach((item)=>{%>
								<tr class="menu-row">
									<td>
										
											<button class="btn btn-dark text-center p-2"
												onclick="editSuccessVideo('<%-item.id%>')">
												<i class="bi-pencil-square mx-1"></i>Edit
											</button>
											<button class="btn btn-danger text-center p-2"
												onclick="confirmDeleteVideo('<%-item.id%>')">
												<i class="bi-trash mx-1"></i> Delete
											</button>
										

									</td>
								
									<td class="w-50">
										<h5 class="text-danger">
											<%= item.videourl%>
										</h5>
									</td>
									<td>
										<h5 class="text-danger">
											<%= item.year%>
										</h5>
									</td>
									
									<td class="w-75">
										<div class="card w-100">
											<div class="card-body">
												<p  style="white-space: pre-wrap;">
													<%= item.description %>
												</p>
											</div>
										</div>
									</td>
									
								
								</tr>
								<%})%>
						</tbody>
					</table>
				</div>
				<div class="successvideo-table-footer"></div>
			</div>
		

		</div>

	</div>
	<!-- End Content -->
	<%- include('./footer.ejs');%>
		<script>
			let customerListTable = false;
			customerListTable = $('#menu-table').DataTable({
				lengthChange: true,
				columnDefs: [{
					columnDefs: [{ width: 200, targets: 0 }],
					fixedColumns: true,
					paging: false,
					scrollCollapse: true,
					scrollX: true,
				}],
				order: [
					[1, 'desc'],
					[0, 'desc']
				],
				initComplete: function (settings, json) {
					$('.dataTables_filter').hide();
					$('.menu-table-footer').append($('#menu-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
					$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
					$('.menu-table-search').on('input', function () {
						customerListTable.search(this.value).draw();
					});
					this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
					this.api().table().buttons().container().appendTo($('.menu-table-filters .export-buttons'));
				},
				buttons: [{
					extend: 'collection',
					text: '<i class="bi bi-cloud-download-fill"></i>',
					className: 'btn-sm btn-outline-primary',
					buttons: [{
						extend: 'copy',
						text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
					},
					{
						extend: 'excel',
						text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
					},
					{
						extend: 'csv',
						text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
					},
					{
						extend: 'pdf',
						text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
					},
					{
						extend: 'print',
						text: '<i class="bi-printer dropdown-item-icon"></i> Print'
					}
					]
				}],
			});
		</script>
		<script>
			let storyTable = false;
			storyTable = $('#successstory-table').DataTable({
				lengthChange: true,
				columnDefs: [{
					columnDefs: [{ width: 200, targets: 0 }],
					fixedColumns: true,
					paging: false,
					scrollCollapse: true,
					scrollX: true,
				}],
				order: [
					[1, 'desc'],
					[0, 'desc']
				],
				initComplete: function (settings, json) {
					$('.dataTables_filter').hide();
					$('.successstory-table-footer').append($('#successstory-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
					$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
					$('.successstory-table-search').on('input', function () {
						storyTable.search(this.value).draw();
					});
					this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
					this.api().table().buttons().container().appendTo($('.successstory-table-filters .export-buttons'));
				},
				buttons: [{
					extend: 'collection',
					text: '<i class="bi bi-cloud-download-fill"></i>',
					className: 'btn-sm btn-outline-primary',
					buttons: [{
						extend: 'copy',
						text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
					},
					{
						extend: 'excel',
						text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
					},
					{
						extend: 'csv',
						text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
					},
					{
						extend: 'pdf',
						text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
					},
					{
						extend: 'print',
						text: '<i class="bi-printer dropdown-item-icon"></i> Print'
					}
					]
				}],
			});
		</script>
<script>
	let videoTable = false;
	videoTable = $('#successvideo-table').DataTable({
		lengthChange: true,
		columnDefs: [{
			columnDefs: [{ width: 200, targets: 0 }],
			fixedColumns: true,
			paging: false,
			scrollCollapse: true,
			scrollX: true,
		}],
		order: [
			[1, 'desc'],
			[0, 'desc']
		],
		initComplete: function (settings, json) {
			$('.dataTables_filter').hide();
			$('.successvideo-table-footer').append($('#successvideo-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
			$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
			$('.successvideo-table-search').on('input', function () {
				videoTable.search(this.value).draw();
			});
			this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
			this.api().table().buttons().container().appendTo($('.successvideo-table-filters .export-buttons'));
		},
		buttons: [{
			extend: 'collection',
			text: '<i class="bi bi-cloud-download-fill"></i>',
			className: 'btn-sm btn-outline-primary',
			buttons: [{
				extend: 'copy',
				text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
			},
			{
				extend: 'excel',
				text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
			},
			{
				extend: 'csv',
				text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
			},
			{
				extend: 'pdf',
				text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
			},
			{
				extend: 'print',
				text: '<i class="bi-printer dropdown-item-icon"></i> Print'
			}
			]
		}],
	});
</script>
		
	
			<script>
				let memberTable = false;
				memberTable = $('#member-table').DataTable({
					lengthChange: true,
					columnDefs: [{
						targets: [0,],
						orderable: false,
					}],
					order: [
						[1, 'desc'],
						[0, 'desc']
					],
					initComplete: function (settings, json) {
						$('.dataTables_filter').hide();
						$('.member-table-footer').append($('#member-table_wrapper .row:last-child()')).find('.previous').addClass('ms-md-auto');
						$('.dataTables_info').before($('.dataTables_length').find('label').attr('class', 'd-inline-flex text-nowrap align-items-center gap-2'));
						$('.member-table-search').on('input', function () {
							memberTable.search(this.value).draw();
						});
						this.api().table().buttons().container().find('.btn-secondary').removeClass('btn-secondary');
						this.api().table().buttons().container().appendTo($('.enquiry-table-filters .export-buttons'));
					},
					buttons: [{
						extend: 'collection',
						text: '<i class="bi bi-cloud-download-fill"></i>',
						className: 'btn-sm btn-outline-primary',
						buttons: [{
							extend: 'copy',
							text: '<i class="bi-clipboard2-check dropdown-item-icon"></i> Copy'
						},
						{
							extend: 'excel',
							text: '<i class="bi-filetype-xlsx dropdown-item-icon"></i> Excel'
						},
						{
							extend: 'csv',
							text: '<i class="bi-filetype-csv dropdown-item-icon"></i> CSV'
						},
						{
							extend: 'pdf',
							text: '<i class="bi-filetype-pdf dropdown-item-icon"></i> PDF'
						},
						{
							extend: 'print',
							text: '<i class="bi-printer dropdown-item-icon"></i> Print'
						}
						]
					}],
				});
			</script>