<%- include('./header.ejs');%>
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">
                       dashboard
                    </h1>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card bg-gredient-primary dashcard h-100 py-2">
                  <div class="card-body">
                    <div class="row align-items-center frow">
                      <div class="col">
                        <div class="text-white mb-3 fs-3">Total users
                        </div>
                        <div class="fs-3 mb-0 fw-semibold text-white"><%- alluserscount%></div>
                      </div>
                      <div class="col-auto">
                          <img src="" class="img-fluid rounded-circle" alt="">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="card bg-gredient-primary dashcard h-100 py-2">
                  <div class="card-body">
                    <div class="row align-items-center frow">
                      <div class="col">
                        <div class="text-white mb-3 fs-3">Profiles created
                        </div>
                        <div class="fs-3 mb-0 fw-semibold text-white"><%- profilescount%></div>
                      </div>
                      <div class="col-auto">
                          <img src="" class="img-fluid rounded-circle" alt="">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card bg-gredient-primary dashcard shadow h-100 py-2">
                    <div class="card-body position-relative">
                      <div class="row align-items-center frow">
                        <div class="col">
                          <div class="text-white mb-3 fs-3">Brides
                          </div>
                          <div class="fs-3 mb-0 fw-semibold text-white"><%- bridecount%></div>
                        </div>
                        <div class="col-auto">
                          <div class="anibubble position-absolute d-flex justify-content-center align-items-center">
                            <img src="https://media.istockphoto.com/id/1290304564/photo/portrait-of-very-beautiful-young-indian-bride-in-luxurious-bridal-costume-with-makeup-and.jpg?s=612x612&w=0&k=20&c=P0FoifDVWIjqxIrSLoWHPwaAojeB23_7KLVbt35Aeak=" class="img-fluid rounded-circle object-fit-cover" style="height: 60px; width: 60px;" alt="">
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card bg-gredient-primary dashcard shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row align-items-center frow">
                        <div class="col">
                          <div class="text-white mb-3 fs-3">grooms
                          </div>
                          <div class="fs-3 mb-0 fw-semibold text-white"><%- groomcount%></div>
                        </div>
                        <div class="col-auto">
                          <div class="anibubble position-absolute d-flex justify-content-center align-items-center">
                            <img src="https://media.istockphoto.com/id/1180368192/photo/indian-bridegroom-wears-ethnic-or-traditional-cloths.jpg?s=612x612&w=0&k=20&c=RQcwGegVd4AmE8QqyUN7nDckDiBV7s5rnVBUygRUu1E=" class="img-fluid rounded-circle object-fit-cover" style="height: 60px; width: 60px;" alt="">
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          
          
        </div>
    </div>

    <%- include('./footer.ejs');%>